@page
@model SWP391_Gr3.Pages.Theaters.IndexModel
@{
    ViewData["Title"] = "Quản lý rạp";

}
@if (TempData["Message"] != null)
{
    <div style="text-align:center" class="alert-success">@TempData["Message"]</div>
}

<div class="form-container mt-4">
    <h2 style="color:white">Trình quản lý rạp</h2>
    <a asp-page="/Theaters/Create" class="btn btn-warning">Tạo mới</a>
    <h3 style="color:white">Danh sách rạp</h3>
    @if (Model.Theaters.Any())
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên rạp</th>
                    <th>Địa điểm</th>
                    <th>Trạng thái</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var theater in Model.Theaters)
                {
                    <tr>
                        <td>@theater.Id</td>
                        <td>@theater.Name</td>
                        <td>@theater.Location</td>
                        <td>@(theater.IsActive.HasValue && theater.IsActive.Value ? "Hoạt động" : "Không hoạt động")</td>
                        <td>
                            <form asp-page-handler="ToggleActive" asp-route-Theaterid="@theater.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-primary">
                                    @(theater.IsActive == true ? "Khóa" : "Kích hoạt")
                                </button>
                            </form>
                            <a asp-page="/ManagerRoom/RoomManage" asp-route-id="@theater.Id" asp-route-name="@theater.Name" class="btn btn-warning">Chi tiết</a>
                            <form asp-page-handler="Delete" asp-route-id="@theater.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-primary">
                                    <div>Delete</div>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Không có rạp nào được tìm thấy.</p>
    }
</div>

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/theater_index.css" asp-append-version="true" />
}


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
}