@page
@model SWP391_Gr3.Pages.Reviews.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div class="white-frame">
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MovieReview</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieReview.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieReview.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieReview.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieReview.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieReview.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieReview.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieReview.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieReview.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieReview.PublishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieReview.PublishedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieReview.Likes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieReview.Likes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieReview.Views)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieReview.Views)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieReview.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieReview.Movie.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MovieReview.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
</div>