@page
@model SWP391_Gr3.Pages.Promotions.ManageModel
@{
    ViewData["Title"] = "Quản lý tin mới & khuyến mãi";
}


<h2>Trình quản lý tin mới & khuyến mãi</h2>
@{
    var userRole = HttpContext.Session.GetString("UserRole");
}
<div class="container">
    <form method="get" class="mb-4" id="searchForm">
        <div class="input-group">
            <input type="text" class="form-control" id="proIdInput" name="proId" placeholder="Search by Promotion ID" value="@Model.SearchUserId">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    @if (Model.FilteredPro.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Promotion Title</th>
                    <th>Discount</th>
                    <th>Status</th>
                    <th>Tồn kho</th>
                    <th>Descriptions</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var promotion in Model.FilteredPro)
                {
                    <tr>
                        <td>@promotion.Id</td>
                        <td>@promotion.Code</td>
                        <td>@promotion.PromotionType?.Title</td>
                        <td>@promotion.Value</td>
                        <td>@(promotion.IsActive ? "Active" : "Inactive")</td>
                        <td>@promotion.Stock</td>
                        <td>@promotion.Description</td>
                        <td>@promotion.StartDate</td>
                        <td>@promotion.EndDate</td>
                        <td>
                            <a asp-page="/Promotions/Create" class="btn btn-warning">Tạo mới</a>
                            <a href="/Promotion/Delete/@promotion.Id" class="btn btn-sm btn-danger">Delete</a>
                            @if (userRole=="Owner")
                            {
                                <form asp-page-handler="ToggleActive" asp-route-id="@promotion.Id" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-primary">
                                        @(promotion.IsActive ? "Khóa" : "Kích hoạt")
                                    </button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="no-data">No promotions found.</p>
    }
</div>

@section Scripts {
    <script src="~/js/promotion_manage.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/Promotion_manage.css" asp-append-version="true" />
}