@page
@model SWP391_Gr3.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Quản lý tài khoản";
}
@{
    var userRole = HttpContext.Session.GetString("UserRole");
}

<div class="manage-users-container">
    <h2>Quản lý tài khoản</h2>

    <!-- Hiển thị thông báo TempData -->
    @if (TempData["Message"] != null)
    {
        <div class="alert-success">@TempData["Message"]</div>
    }

    <form method="get" id="searchForm">
        <label for="searchUserId">Tìm kiếm User ID: </label>
        <input type="text" id="searchUserId" name="userId" value="@Model.SearchUserId" />
        <button type="submit" class="btn btn-info">Tìm kiếm</button>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Vai trò</th>
                <th>Is Active</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.FilteredUsers)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@(user.Role?.Name ?? "Không có vai trò")</td>
                    <td>
                        @if (user.IsActive == false)
                        {
                            <div>Inactive</div>
                        }
                        else
                        {
                            <div>Active</div>
                        }
                    </td>
                    <td>
                        <a asp-page="/Users/UserDetail" asp-route-id="@user.Id" class="btn btn-warning">Chi tiết</a>
                        <form asp-page-handler="ToggleActive" asp-route-id="@user.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-primary">
                                @(user.IsActive == true ? "Khóa" : "Kích hoạt")
                            </button>
                        </form>
                        @if (userRole == "Owner" && user.Role?.Name == "Admin" || userRole == "Admin" && user.Role?.Name == "Staff")
                        {
                            <a asp-page="/Users/Asigns" asp-route-id="@user.Id" class="btn btn-warning">Asigns</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
</div>

<script>
    document.getElementById("searchUserId").addEventListener("input", function () {
        if (this.value === "") {
            window.location.href = window.location.pathname;
        }
    });
</script>

@section Styles {
    <link rel="stylesheet" href="~/css/user_index.css" asp-append-version="true" />
}